html {
	font-size: 1rem;
	font-weight: 400;
}

@media (min-width: 600px) {
	html {
		font-size: 1.25rem;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

body {
	font-size: 100%;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
		Helvetica Neue, Helvetica, sans-serif;
	line-height: 1.5;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 2rem;
}

li {
	display: none;
	font-size: 1rem;
	border-bottom: 1px solid #ddd;
}

@media (min-width: 600px) {
	li {
		font-size: 1.25rem;
	}
}

li:nth-child(-n + 15) {
	display: block;
}

li a {
	display: block;
	padding: 0.25rem 0.75rem;
	color: #666;
}

li a:first-letter {
	text-transform: uppercase;
}

li a:hover {
	background: #fafafa;
}

/*-------------------------------------------------------------------
Start App
-------------------------------------------------------------------*/

.col {
	width: 100%;
	padding: 1.25rem;
	position: relative;
}

.context {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min(100%, 350px), 1fr));
}

@media (min-width: 800px) {
	.col {
		padding: 3rem;
	}
}

.logo {
	position: relative;
}

.count {
	box-shadow: 0 0 0.1rem 0.1rem white;
	display: flex;
	position: absolute;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 45%;
	background-color: red;
	border-radius: 100%;
	height: 40px;
	width: 40px;
	font-size: 1.25rem;
	text-align: center;
	color: white;
}

@media (min-width: 800px) {
	.count {
		height: 60px;
		width: 60px;
		font-size: 1.5rem;
	}
}

.col svg {
	max-width: 120px;
	display: block;
	margin: 0 auto;
}

@media (min-width: 800px) {
	.col svg {
		max-width: 200px;
	}
}

.col__aftonbladet {
	border-top: 14px solid black;
	border-left: 14px solid black;
	border-bottom: 14px solid black;
	border-right: 14px solid black;
}

@media (min-width: 800px) {
	.col__aftonbladet {
		border-top: 24px solid black;
		border-right: none;
		border-left: none;
		border-bottom: none;
	}
}

.col__expressen {
	border-top: 14px solid #0074b7;
	border-right: 14px solid #0074b7;
	border-left: 14px solid #0074b7;
	border-bottom: 14px solid #0074b7;
}

@media (min-width: 800px) {
	.col__expressen {
		border-top: 24px solid #0074b7;
		border-left: none;
		border-right: none;
		border-bottom: none;
	}
}

.col__aftonbladet li a:hover {
	color: #333;
}

.col__expressen li a:hover {
	color: #0074b7;
}

.footer {
	padding: 4rem 3rem;
	color: #666;
}

.footer p {
	font-size: 0.75rem;
}

.footer a {
	color: #0074b7;
}

.footer a:hover {
	color: blue;
}

mark {
	background: yellow;
}

.articles.loading {
	height: 100vh;
}

.articles.loading:after {
	animation: loading 500ms infinite linear;
	transition: transform 300ms ease-in-out;
	border-width: 0.2rem;
	border-style: solid;
	border-radius: 100%;
	border-right-color: transparent;
	border-top-color: transparent;
	content: '';
	display: block;
	height: 3rem;
	width: 3rem;
	left: 50%;
	margin-left: -1.5rem;
	margin-top: -1.5rem;
	position: absolute;
	top: 50%;
	opacity: 0;
	z-index: 110;
}

.articles--aftonbladet.loading:after {
	border-color: black;
	border-right-color: transparent;
	border-top-color: transparent;
}

.articles--expressen.loading:after {
	border-color: #0074b7;
	border-top-color: transparent;
	border-right-color: transparent;
}

.articles.loading .articles-container {
	opacity: 0.1;
}

.articles.loading:after {
	opacity: 1;
}

@keyframes loading {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
